<h4>Title: <%= @song.title%> </h4>
<h4>Artist: <%= @song.artist_name%> </h4>
<h4>Genre: <%= @song.genre%> </h4>
<h4>Released: <%= @song.released%> </h4>
<h4>Release Year: <%= @song.release_year%> </h4>

<%= link_to 'Edit Song', edit_song_path(@song) %>

<%= form_for @song, method: :delete do |f| %>
	<%= f.submit "Delete Song" %>
<% end %>
